* {
    /* outline: 2px solid red; */
}

body {
    background-color: #dbe4ee;
    display: flex;
    justify-content: center;
}

#calculator-widget {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 25vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 0.5em;
}

#display {
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#button-row {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 0.5em;
}

button {
    background-color: #dbe4ee;
    border: 0px;
    border-radius: 1em;
    font-size: 1em;
    flex: auto;
}

.operator {
    background-color: #fc7a1e;
    color: white;
}

.command {
    background-color: #696773;
    color: white;
}
