* {
    outline: 2px solid red;
}

#calculator-widget {
    background: grey;
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}